In [1]:
# Step 1: Import Required Libraries
import pandas as pd
import numpy as np

In [2]:
# Step 2: Load the Dataset
df = pd.read_csv('dataset.csv')

In [3]:
# Step 3: Basic Dataset Overview
print("Shape of dataset:", df.shape)
print("\nFirst 5 rows of data:")
display(df.head())

Shape of dataset: (10425, 78)

First 5 rows of data:

,customer_id,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,...,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
0,1,56,Other,High,No,0,No,Divorced,3,Bachelor's,...,33.21,No,Spring,Yes,5,No,High,30,High,40
1,2,69,Female,Medium,No,2,No,Married,2,PhD,...,62.56,No,Summer,Yes,6,No,High,40,Medium,338
2,3,46,Female,Low,No,5,No,Married,3,Bachelor's,...,83.04,Yes,Winter,Yes,2,Yes,Low,89,Medium,61
3,4,32,Female,Low,No,0,No,Divorced,2,Master's,...,50.43,Yes,Winter,No,12,No,Low,12,Low,42
4,5,60,Female,Low,Yes,7,Yes,Divorced,2,Bachelor's,...,36.55,Yes,Summer,Yes,3,No,Medium,31,Low,242

In [4]:
# Step 4: Dataset Information
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10425 entries, 0 to 10424
Data columns (total 78 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_id                10425 non-null  int64
 1   age                        10425 non-null  int64
 2   gender                     10425 non-null  object
 3   income_bracket             10425 non-null  object
 4   loyalty_program            10425 non-null  object
 5   membership_years           10425 non-null  int64
 6   churned                    10425 non-null  object
 7   marital_status             10425 non-null  object
 8   number_of_children         10425 non-null  int64
 9   education_level            10425 non-null  object
 10  occupation                 10425 non-null  object
 11  transaction_id             10425 non-null  int64
 12  transaction_date           10425 non-null  object
 13  product_id                 10425 non-null  int64
 14  product_category           10425 non-null  object
 15  quantity                   10425 non-null  int64
 16  unit_price                 10425 non-null  float64
 17  discount_applied           10425 non-null  float64
 18  payment_method             10425 non-null  object
 19  store_location             10425 non-null  object
 20  transaction_hour           10425 non-null  int64
 21  day_of_week                10425 non-null  object
 22  week_of_year               10425 non-null  int64
 23  month_of_year              10425 non-null  int64
 24  avg_purchase_value         10425 non-null  float64
 25  purchase_frequency         10425 non-null  object
 26  last_purchase_date         10425 non-null  object
 27  avg_discount_used          10425 non-null  float64
 28  preferred_store            10425 non-null  object
 29  online_purchases           10425 non-null  int64
 30  in_store_purchases         10425 non-null  int64
 31  avg_items_per_transaction  10425 non-null  float64
 32  avg_transaction_value      10425 non-null  float64
 33  total_returned_items       10425 non-null  int64
 34  total_returned_value       10425 non-null  float64
 35  total_sales                10425 non-null  float64
 36  total_transactions         10425 non-null  int64
 37  total_items_purchased      10425 non-null  int64
 38  total_discounts_received   10425 non-null  float64
 39  avg_spent_per_category     10425 non-null  float64
 40  max_single_purchase_value  10425 non-null  float64
 41  min_single_purchase_value  10425 non-null  float64
 42  product_name               10425 non-null  object
 43  product_brand              10425 non-null  object
 44  product_rating             10425 non-null  float64
 45  product_review_count       10425 non-null  int64
 46  product_stock              10425 non-null  int64
 47  product_return_rate        10425 non-null  float64
 48  product_size               10425 non-null  object
 49  product_weight             10425 non-null  float64
 50  product_color              10425 non-null  object
 51  product_material           10425 non-null  object
 52  product_manufacture_date   10425 non-null  object
 53  product_expiry_date        10425 non-null  object
 54  product_shelf_life         10425 non-null  int64
 55  promotion_id               10425 non-null  int64
 56  promotion_type             10425 non-null  object
 57  promotion_start_date       10425 non-null  object
 58  promotion_end_date         10425 non-null  object
 59  promotion_effectiveness    10425 non-null  object
 60  promotion_channel          10425 non-null  object
 61  promotion_target_audience  10425 non-null  object
 62  customer_zip_code          10425 non-null  int64
 63  customer_city              10425 non-null  object
 64  customer_state             10425 non-null  object
 65  store_zip_code             10425 non-null  int64
 66  store_city                 10425 non-null  object
 67  store_state                10425 non-null  object
 68  distance_to_store          10425 non-null  float64
 69  holiday_season             10425 non-null  object
 70  season                     10425 non-null  object
 71  weekend                    10425 non-null  object
 72  customer_support_calls     10425 non-null  int64
 73  email_subscriptions        10425 non-null  object
 74  app_usage                  10425 non-null  object
 75  website_visits             10425 non-null  int64
 76  social_media_engagement    10425 non-null  object
 77  days_since_last_purchase   10425 non-null  int64
dtypes: float64(16), int64(24), object(38)
memory usage: 6.2+ MB

In [5]:
# Step 5: Summary Statistics
print("\nSummary Statistics:")
display(df.describe(include='all'))

Summary Statistics:

,customer_id,age,gender,income_bracket,loyalty_program,membership_years,churned,marital_status,number_of_children,education_level,...,distance_to_store,holiday_season,season,weekend,customer_support_calls,email_subscriptions,app_usage,website_visits,social_media_engagement,days_since_last_purchase
count,10425.000000,10425.000000,10425,10425,10425,10425.000000,10425,10425,10425.000000,10425,...,10425.000000,10425,10425,10425,10425.000000,10425,10425,10425.000000,10425,10425.000000
unique,NaN,NaN,3,3,2,NaN,2,3,NaN,4,...,NaN,2,4,2,NaN,2,3,NaN,3,NaN
top,NaN,NaN,Male,Medium,No,NaN,Yes,Married,NaN,High School,...,NaN,No,Spring,Yes,NaN,Yes,Medium,NaN,Medium,NaN
freq,NaN,NaN,3532,3527,5271,NaN,5283,3486,NaN,2668,...,NaN,5242,2611,5282,NaN,5281,3498,NaN,3529,NaN
mean,5213.000000,48.807002,NaN,NaN,NaN,4.542062,NaN,NaN,2.000384,NaN,...,49.967544,NaN,NaN,NaN,9.539568,NaN,NaN,49.211607,NaN,181.987818
std,3009.582612,17.889900,NaN,NaN,NaN,2.859021,NaN,NaN,1.422263,NaN,...,28.580440,NaN,NaN,NaN,5.742391,NaN,NaN,28.783798,NaN,105.074477
min,1.000000,18.000000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.010000,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000
25%,2607.000000,34.000000,NaN,NaN,NaN,2.000000,NaN,NaN,1.000000,NaN,...,25.360000,NaN,NaN,NaN,5.000000,NaN,NaN,24.000000,NaN,91.000000
50%,5213.000000,49.000000,NaN,NaN,NaN,5.000000,NaN,NaN,2.000000,NaN,...,49.670000,NaN,NaN,NaN,10.000000,NaN,NaN,49.000000,NaN,182.000000
75%,7819.000000,64.000000,NaN,NaN,NaN,7.000000,NaN,NaN,3.000000,NaN,...,74.320000,NaN,NaN,NaN,15.000000,NaN,NaN,74.000000,NaN,272.000000
max,10425.000000,79.000000,NaN,NaN,NaN,9.000000,NaN,NaN,4.000000,NaN,...,100.000000,NaN,NaN,NaN,19.000000,NaN,NaN,99.000000,NaN,364.000000

In [6]:
# Step 6: Check for Duplicates
duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [7]:
# Step 7: Check for Missing Values
print("\nMissing Values:")
display(df.isnull().sum())

Missing Values:

customer_id                 0
age                         0
gender                      0
income_bracket              0
loyalty_program             0
                           ..
email_subscriptions         0
app_usage                   0
website_visits              0
social_media_engagement     0
days_since_last_purchase    0
Length: 78, dtype: int64